<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheet %}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #006785;" >
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{{ path('app_home') }}">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ path('app_article') }}">Nouvel article</a>
                <a class="nav-item nav-link" href="{#{ path('app_about') }#}">A propos</a>
                <a class="nav-item nav-link" href="{#{ path('app_contact') }#}">Contact</a>
                <a class="nav-item nav-link" href="#">More</a>
                <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
        </div>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('fos_user_registration_register') }}" class="nav-link" style="color: white">Inscription</a>
                <a href="{{ path('fos_user_security_login') }}" class="nav-link" style="color: white">Connexion</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}" class="nav-link" style="color: white">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}

    </nav>
{% endblock %}

{% for type, messages in app.flashes %}
    {% for message in messages %}
        {% block flashes %}
            <div class="container">
                <br>
                <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <br>
            </div>
        {% endblock %}
    {%  endfor %}
{% endfor %}




{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
